<div class="container">
  <div clas="row">
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

<h3>本当に退会しますか？</h3>

<%= link_to "退会しない", show_customers_path,class:"glyphicon glyphicon-home btn btn-primary" %>
<%= link_to "退会する", withdraw_customers_path, method: :patch, "data-confirm" => "退会しますか？",class: "glyphicon glyphicon-tint btn btn-danger" %>
  </div>
  </div>
</div>